* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
}

a,
a:visited {
  text-decoration: none;
}
